<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rco.rcotrucks"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="com.iosix.eldblelib" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.rco.rcotrucks.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="com.rco.rcotrucks.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Dec 28, 2022    -   Added this permission so we can download zip file for offline tiles -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" /> <!-- Dec 30, 2022    -   Adding new permission to record audio for speech instructions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/rco_icon_updated"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.dvir.activities.PreTripReport"
            android:exported="true">
        </activity>
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <activity
            android:name=".activities.fuelreceipts.activities.FuelReceiptDetailAndEditActivity"
            android:exported="true" />
        <activity
            android:name=".activities.fuelreceipts.activities.TollReceiptDetailAndEditActivity"
            android:exported="true" />
        <activity
            android:name=".activities.fuelreceipts.activities.TollReceiptDtlActivity"
            android:exported="true" />
        <activity
            android:name=".activities.fuelreceipts.activities.FuelReceiptDetailActivity"
            android:exported="true" />
        <activity android:name=".activities.fuelreceipts.activities.EditTollReceipt" />
        <activity android:name=".activities.fuelreceipts.activities.CreateFuelReceipt" />
        <activity android:name=".activities.fuelreceipts.activities.TollReceiptDetailActivity" />
        <activity
            android:name=".activities.Splash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GaugesTest"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".custom_image.CaptureReceiptPhoto"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".custom_image.CameraStencilActivity" />
        <activity
            android:name=".custom_image.CustomImageRecorder"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom_image.CaptureCameraSampleOne"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".custom_image.CustomCaptureCameraPhoto"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".custom_image.CustomVideoRecorder"
            android:exported="true" />
        <activity
            android:name=".activities.logbook.activity.AddNewEvent"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.fuelreceipts.activities.EditFuelReceipt"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.fuelreceipts.activities.CreateTollReceipt"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.logbook.activity.EldEdit"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.logbook.activity.DutyAndEldEvents"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.logbook.Certifications"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.logbook.MonitorService"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.spe.SkillPerformanceActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.employmentrecord.DERFieldsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.drivermedicalform.DMFieldsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.employmentrecord.DERActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.driverapplication.DriverApplicationActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.driverapplication.DAFieldsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.driverviolations.DriverViolationsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.driverviolations.DVFieldsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.drivermedicalform.DMActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.spe.SPEFieldsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forms.EvaluationPreviewActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- android:configChanges="orientation|screenSize" -->
        <!-- Oct 18, 2022    -   If we remove this configChanges attribute then the whole activity created again -->
        <!-- So all the progress starts again -->
        <!--
        So I should find a better way to change the layout
                    from portrait to landscape and
                    from landscape to portrait
        -->
        <!-- Solution is to use override method onConfigurationChanged() and set the layout there for portrait and landscape -->
        <activity
            android:name=".activities.MainMenuActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activities.dvir.DvirDtlActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SignatureActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.dvir.DvirReportActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.fuelreceipts.activities.FuelReceiptDtlActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.logbook.sign.SignActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.logbook.EldEventDetailActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rco.rcotrucks"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Oct 18, 2022    -   Commented UCropActivity relevent library code already -->
        <!-- <activity -->
        <!-- android:name="com.yalantis.ucrop.UCropActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <activity
            android:name=".utils.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".utils.ExternalFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- GEOFENCING -->
        <receiver android:name=".receiver.GeofenceBroadcastReceiver" />
    </application>

</manifest>